/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body{
  background-image: url('assets/76.jpg');
  position:relative;
  min-height:119vh;
 min-width: fit-content;

  display: flex;
  flex-direction: column;
  margin: 0;
}
footer{
  margin-top: auto;

}

.text-center.p-2.ptop{
  margin-top: 110px;

  }
