:host ::ng-deep {
    table {
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
                color: #FFF;
                text-align: center;
            }
        }
    }
}

:host ::ng-deep {
  div.d-flex.justify-content-center.mt-3{
    // background: #ca085a;
  pagination-controls{
    pagination-template{
      nav{
        ul{
          background: #ca085a;
          // font-size: 150%;
    // margin-top: 25px;
    //  li.current {
            // background: #28a745;
        // }
}
}
    }
  }
  }
}

.w-20 {
    width: 20%!important;
}

.rtl{direction:rtl!important;}

.mat-cell.No{
  font-size: 21px;
  text-align: center;
}
