
button {
    color: #FFF;
    margin: 0 5px;
    &.addTask {
        background-color: #ca085a;
        color: #FFF;
        padding: 2px 23px;
        font-size: 20px;
    }
}

:host ::ng-deep {
    table {
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
}


:host ::ng-deep {
  div.d-flex.justify-content-center.mt-3{
    // background: #ca085a;
  pagination-controls{
    pagination-template{
      nav{
        ul{
          background: #ca085a;
          // font-size: 150%;
    // margin-top: 25px;
    //  li.current {
            // background: #28a745;
        // }
}
}
    }
  }
  }
}

.rtl{direction:rtl!important;}

.w-20 {
    width: 20%!important;
}

img{
  width: 100%;
  height: 180px;
}

h2 {
    color: #bc1059;
}
.card.mt-3{
  background-color: transparent;
}
