.imageBox {
    height: 250px;
    img {
    height: 250px;

      color: green;
      font: 40px Impact;

    }
}

.card-text{
  font-size: x-large;
}
.card-subtitle.mb-2.text-muted{
  font-size: x-large;

}
.card-title{
  font-size: revert;

}
