.imageBox {
    height: 250px;
img {
  width: 100%;
  height: 100%;


}
}


.card-text{
  font-size: x-large;
}
.card-subtitle.mb-2.text-light{
  font-size: x-large;

}
.card-title{
  font-size: revert;

}
